@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
:root{
    --heading-font: "Lexend", Georgia, serif;
    --paragraph-font: "Hind Vadodara", Helvetica, sans-serif; 
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #f5f6ee;
    color:#2B4570;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ffd23f;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    text-decoration: none;
    color:#12664f;
    padding: 35px;
}
nav a:hover{
    background-color: #12664f;
    color: white;
}
footer {
    background-color: #12664f;
    padding: 25px 15px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size: 1.2em;
    color:white;
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    text-decoration: none;
    color:white;
}
footer a:hover{
    color: #ffd23f;
}
footer .social img{
    padding-top: 15px;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
form {
    display: inline-block;
    /* Form outline */
    padding: 1em;
    margin-top: 30px;
    border: 2px solid #373737;
    border-radius: 1em;
    margin-bottom:-300px
}
label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Set the outline width and style */
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}
a{
    font-family: var(--heading-font)
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
}
h2{
    margin:0;
}
p{
    font-family: var(--heading-font);
}
label{

}
#background {
    height: 725px;
    background-color: #2B4570;
    grid-column: 1/11;
    grid-row: 4/9;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1,
#hero-msg h4 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    color:#f5f6ee
}
#hero-img{
    width: 100%;
}
#banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom:103px;
}
#banner-msg{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    margin-top: 150px;
    font-size: 100px;
    color: #f5f6ee;
    box-shadow: 5px 5px 15px #00000087;
    text-shadow: 5px 5px 10px #000000;
}
#banner-img{
    width: 100%;
    height: 300px;
    object-fit:cover;
    object-position: 0 20%;
    grid-column: 1/4;
    grid-row: 1;
    z-index: -1;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.form-grid{
    text-align: center;
}

.question-left {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #2B4570;
}
.question-left img{
    grid-column: 1;
    grid-row: 1/3;
    margin: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border: 10px solid white;
}
.question-left h1{
    grid-column: 2;
    color: white;
    border-bottom: 2px solid white;
    margin-right: 15px;
    padding-bottom: 15px;
    margin-top: 5px
}
.question-left p{
    grid-column: 2;
    grid-row: 2;
    color: white;
    margin-top:-15px
}
.question-right {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.question-right img{
    grid-column: 2;
    grid-row: 1/3;
    margin: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border: 10px solid #2B4570;
}
.question-right h1{
    grid-column: 1;
    border-bottom: 2px solid #2B4570;
    margin-left: 15px;
    padding-bottom: 15px;
    margin-top: 5px
}
.question-right p{
    grid-column: 1;
    grid-row: 2;
    margin-top:-15px;
    margin-left: 15px;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.button-box{
    text-align: center;
}
.logo {
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.msg{
    background-color: #12664f;
    color:white;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #373737;
}
.msg h2{
    color:white;
}
.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
.book,
.join,
button {
    background-color: #ffd23f;
    color:#12664f;
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover,
.join:hover,
button:hover{
    background-color: #15745b;
    color:white
}
.home-title{
    color:#2B4570;
    font-size: 2em;
    margin-top: 10px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3; 
}
.card-img{
    border: 10px solid #12664f;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #373737;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #373737;
}
.card-img, .mountains{
    width: 100%
}
#feedback {
    background-color: #f5f6ee;
    position: absolute;
    font-family: var(--paragraph-font);
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}