@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
:root{
    --heading-font: Russo One;
    --paragraph-font: Hind Vadodara, Helvetica, sans-serif;
}
body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f7ff7f;
    overflow-x:hidden;
}
header {
    background-color: #202225;
    color:white;
    display: grid;
    grid-template-columns: 150px auto;
    height: 90px;
}
a{
    color: #a789fa;
}
nav{
    display: flex;
    justify-content: space-around;
    max-height: 90px;
}
nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 35px;
    font-family: var(--heading-font);
    transition: font-size 0.2s;
}
nav a:hover{
    background-color: #a789fa;
    color:#202225;
    font-size: 17px;
    box-shadow: 10px 10px #20222587;
}
.logo{
    width: 88px;
    padding-top: 1px;
    padding-left: 1px;
}
nav h3 {
    text-align: center;
    padding-top: 5px;
    font-size: 25px;
    font-family: var(--heading-font)
}
h3 {
    font-family: var(--heading-font);
    font-weight: normal;
}
h1 {
    font-family: var(--heading-font);
    font-weight: normal;
    text-align: center;
}
p {
    font-family: var(--paragraph-font);
    color: white;
    font-size: 14px;
}
label {
    font-family: var(--heading-font);
    font-size: large;
    transition: font-size 0.2s;
}
label:hover{
    font-size: 19px;
    text-decoration: underline;
}
.song label:hover{
    cursor: pointer;
}
.big-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    border: white solid 10px;
    box-shadow: 10px 10px #20222587, 20px 20px #20222550;
}
.archive-explanation{
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #202225;
    width:30%;
    box-shadow: 0px 0px 0px 10px #20222587;
    color: white;
    text-align: center;
}
#discography-title{
    background-color: #ffffff2b;
    margin-top:40px;
    margin-bottom:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    display:grid;
}
.discography-title-background{
    background-color: #202225;
    width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 0px 10px #20222587
}
#discography-title h1{
    font-size: 40px;
}
#songlist, #songlist-covers {
    width: 1000px;
    margin: auto;
}
.spacer{
    height: 30px;
}
#featured-group{
    max-width: 1000px;
    margin:auto;
}
#featured-group label:hover{
    color: #a789fa;
}
#first-page-song {
    border-top: 0px;
}
.outline{
    border: #ffffff3e solid 1px;
}
.covers-album{
    display: grid;
    grid-template-columns: 175px 1fr;
}
.main-info{
    grid-column:1;
    display:flex;
    flex-flow: column;
}
.covers-songlist{
    grid-column:2;
    display:flex;
    flex-flow: column;
    border-left: solid 3px white;
    margin-left: 15px
}
.covers-song-description h4 {
    font-family: var(--heading-font);
    font-weight:100;
    margin: 0;
}
hr{
    border:solid 2px white;
    width:98%;
}
.covers-cover{
    width:150px;
    display: block;
}
.covers-song{
    display: grid;
    grid-template-columns: 1fr 320px 40px 40px;
    height: 80px;
    align-items: center;
    margin-left: 25px;
}
.covers-audio{
    grid-column:2;
}
.covers-link{
    grid-column: 3;
}
.covers-link img{
    pointer-events: none;
}
.link img{
    pointer-events: none;
}
.covers-ytlink{
    grid-column: 4
}
.album, .covers-album{
    background-color: #202225;
    color: white;
    box-shadow: 10px 10px #20222587, 20px 20px #20222550;
    margin: 10px;
    padding: 10px;
}
.album .song, .group{
    border-color: white;
}

#bbt6-group .song label:hover{
    color: #a789fa;
}
#sky-racer-group .song label:hover{
    color: #71b1ff;
}
#beep-bishop-group .song label:hover{
    color: #a789fa;
}
#misc-group .song label:hover{
    color: #f7ff7f;
}
.group-shadow{
    display:block;
    width: 100%;
    background-color: #ffffff3e;
}
.archive-series{
    max-width:1000px;
    margin:10px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #202225;
    color:white;
    box-shadow: -50px 0px 0px #20222587, -100px 0px 0px #20222550, 100px 0px 0px #20222550, 50px 0px 0px #20222587;
}
#utdr-group a{
    color: #e43535;
}
#zelda-group a{
    color: #f7ff7f;
}
#pokemon a{
    color: rgb(79, 225, 142);
}
#mario a{
    color: red;
}
#kirby a{
    color: #ff86bb;
}
.archive-song{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    border-top: 2px solid white;
    max-height: 100px;
}
.series-logo{
    grid-column:1;
    width:100%;
    max-height: 100px;
}
.archive-group{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    max-height: 100px;
    border-bottom: solid 3px white;
    padding: 5px 0px 5px 5px;
}
.game{
    font-size: large;
    grid-column: 1;
    grid-row:1/-1;
    margin-top: auto;
    margin-bottom:auto;
}
.cover-link{
    font-size: large;
    font-family: var(--heading-font);
    text-align: left;
    margin-top: 13px;
    margin-bottom: auto;
    margin-left: 10px;
    grid-column: 2;
}
.cover-info{
    grid-row: 2;
    grid-column-start: 2;
    margin-left: 10px;
    margin-top:auto;
    margin-bottom: auto;
}

.song,.group{
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr 2fr 320px 40px 40px;
    grid-template-rows: auto auto;
    margin-top: auto;
    margin-bottom:auto;
    padding: 5px 0px 5px 5px;
    border-top: 1px;
}
.song{
    border-top: 2px solid white;
}
.group{
    border-bottom: 3px solid white;
}
.song-title{
    grid-column: 2/6;
    grid-row: 1;
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
}
audio{
    grid-column: 5;
    grid-row: 1;
    height:54px;
    padding-top: 3px;
    padding-bottom:3px;
    padding-left: 1px;
    padding-right: 1px;
    text-shadow: 10px 10px #00000087;
}
.link{
    grid-column:6;
    grid-row:1;
    padding-top: 15px;
    padding-left: 1px;
    padding-right: 1px;
}
.yt-link{
    grid-column:7;
    grid-row:1;
    padding-top: 19px;
    padding-left: 1px;
    padding-right: 1px;
}
.info{
    display: none;
}
.cover{
    grid-column: 1;
    grid-row: 1/-1;
    width: 90px;
    transition: width 0.5s;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
}
.song input[type=radio]:checked~.info {
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-row: 2;
    grid-column:2/8;
}
.song input[type=radio]:checked~.cover {
    transition: width 0.5s;
    width: 150px;
    grid-row: 1/-1;
}
.shadow,.covers-shadow{
    width:0px;
    height:0px;
    transition: background-color 0.75s;
}
.song input[type=radio]:checked~.shadow{
    max-width: 1600px;
    width: 1600px;
    position: absolute;
    margin-left:-325px;
    height: 150px;
    margin-top:2px;
    background-color: #ffffff2b;
    z-index: -1;
}
.covers-song input[type=radio]:checked~.covers-shadow{
    max-width: 1600px;
    width: 1600px;
    position: absolute;
    margin-left:-537px;
    height: 150px;
    margin-top:2px;
    background-color: #ffffff2b;
    z-index: -1;
}
.group .info {
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-row: 2;
    grid-column:2/8;
}
.group .cover {
    transition: width 0.5s;
    width: 150px;
    grid-row: 1/-1;
}
input{
    display: none;
}

.desc-title{
    grid-column:1;
    margin-left: 10px;
    margin-top: -5px;
    font-size: 16px;
}
.desc-text{
    grid-column:1;
    grid-row:2;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 0px;
}
.date-title{
    grid-column:2;
    margin-top: -5px;
    margin-right: 15px;
    text-align: center;
    font-size: 16px;
}
.date-text{
    grid-column:2;
    grid-row:2;
    margin-top: -10px;
    margin-right: 15px;
    text-align: center;
}
#about-me{
    max-width: 1000px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    background-color: white;
    text-align: center;
    box-shadow: 10px 10px #20222587, 20px 20px #20222550;
    padding: 10px;
}
#banner{
    grid-row: 1/4;
    grid-column: 1/4;
}
#beepbox-editor{
    width:100%;
}
#about-msg{
    color:white;
    height: 100%;
    grid-column:1/4;
    grid-row:1/4
}
#current-project{
    margin-top: 70px;
}
#recent-updates{
    margin-top: 200px;
}
#about-me-msg{
    margin-top: 200px;
}
#about-msg p{
    font-size: 18px;
    font-weight: bold;
    font-family: var(--paragraph-font);
    text-shadow: 1px 1px #202225;
}
#about-msg h1{
    font-size: 25px;
    font-family: var(--heading-font);
    text-shadow: 2px 2px #202225;
}
footer {
    position: relative;
    background-color: #202225;
    display: grid;
    grid-template-columns: 150px auto;
    height: 90px;
    color: white;
    margin-bottom: -3px;
    bottom: 0;
}
footer p {
    display: flex;
    text-align: center;
    padding-top: 17px;
    font-size: 15px;
    font-family: var(--paragraph-font);
}
footer .yt-link{
    padding-top:34px;
}
.logo_link{
    max-height: 90px;
}